body {
   display: flex;
   flex-direction: row;
   border: solid;
    border-color: black;
    /* flex-wrap: wrap; */
    flex-shrink: initial;
    padding: 25px;
}
img {
    width: 238px;
    height: auto;
}
div {
    display: flex;
    flex-direction: column;
    height: 1200px;
flex-wrap: wrap;
}
@media screen and (max-width: 600px){
body {
    flex-direction: column;
}
}